.Main{
  display:flex;
  justify-content: space-around;
}


.Inputs{
  margin: 0 auto 20px auto;
  display:flex;
  justify-content: space-between; 
  
}

.column{
  width: 18%;
  font-size: 20px;
  border: 5px solid #555;
  
}


img {
 /* border: 1px solid;
  border-radius:4px;
  padding: 5px;
  width: 100 px;
  max-width: 100%;
  height:100px;*/
display: block;
    height: 100px;
    width: 100px;
    margin: 10px;
  

}

#songs p {
 font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px; 
  
}

#artist p {
 font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px; 
  
}

#length p {
 font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px; 
  
}

#link p {
 font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px; 
  
}
.Inputs{
  display:flex;
  justify-content: flex-start;
  border-radius: 10px;
}

/* maybe you can also add sizing restrictions for images
/* how can we make sure rows match up with image